Repository Nickatak/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, e2e-tests

eslint:
  name: ESLint
  entry: bash -c "cd frontend && npm run lint"
  language: system
  pass_filenames: false
  stages:
  - commit

e2e-tests:
  name: E2E Tests
  entry: make local-test-e2e
  language: system
  pass_filenames: false
  stages:
  - commit

test(template): add host/origin regression coverage and harden default test targets
  Makefile
  backend/tests/conftest.py
  backend/tests/test_host_csrf_contracts.py
Due: none

ci(template): add orchestration-aware CI/CD workflows and promotion contract
  .github/workflows/ci.yml
  .github/workflows/promote.yml
  .github/workflows/publish-images.yml
  README.md
  docs/cicd.md
Due: none

ci(frontend): fix gitleaks checkout depth and api headers typing
  .github/workflows/ci.yml
  frontend/app/lib/api.ts
Due: eslint

fix(ci): patch Django and include frontend public dir for docker smoke build
  backend/requirements.txt
  frontend/public/.gitkeep
Due: none

feat(frontend-template): add demo route-shim feature example
  frontend/ARCHITECTURE_MAP_TEMPLATE.md
  frontend/FEATURE_MAP_TEMPLATE.md
  frontend/README.md
  frontend/app/demo-feature/page.tsx
  frontend/features/demo-feature/FEATURE_MAP.md
  frontend/features/demo-feature/components/demo-feature-console.tsx
  frontend/features/demo-feature/components/demo-feature-form.tsx
  frontend/features/demo-feature/hooks/use-demo-feature-controller.ts
  frontend/features/demo-feature/index.ts
  frontend/tsconfig.json
Due: eslint

chore: finalize cicd shakedown updates
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  backend/api/views/auth.py
  docs/cicd.md
  docs/rest-route-docstring-template.md
  scripts/check_route_docstrings.py
Due: e2e-tests

docs(frontend-template): codify controller-api and function-style policy
  frontend/ARCHITECTURE_MAP_TEMPLATE.md
  frontend/FEATURE_MAP_TEMPLATE.md
  frontend/README.md
  frontend/features/demo-feature/FEATURE_MAP.md
  frontend/features/demo-feature/components/demo-feature-console.tsx
  frontend/features/demo-feature/components/demo-feature-form.tsx
  frontend/features/demo-feature/hooks/demo-feature-controller.types.ts
  frontend/features/demo-feature/hooks/demo-feature-validation.ts
  frontend/features/demo-feature/hooks/use-demo-feature-controller.ts
Due: eslint

feat(frontend): add reusable auth gate/session authorization pattern
  .gitignore
  docs/auth-gate-pattern.md
  frontend/app/auth-gate.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/layout.tsx
  frontend/app/lib/api.ts
  frontend/app/page.tsx
  frontend/eslint.config.mjs
  frontend/features/demo-feature/hooks/use-demo-feature-controller.ts
  frontend/features/session/client-session.ts
  frontend/features/session/public-routes.ts
  frontend/features/session/session-authorization.tsx
  frontend/features/session/use-shared-session.ts
Due: eslint

chore: make local mode mysql-only and add db rescue targets
  .dockerignore
  .env.example
  .gitignore
  .vscode/settings.json
  Makefile
  README.md
  backend/core/settings.py
  scripts/validate-env.sh
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  e2e-tests: any of: (backend/api/views/auth|backend/api/serializers/user|backend/tests/test_auth_e2e|frontend/app/(login|register))
